h3 {
  color: #4ECDC4;
  margin-bottom: 20px;
}

.no-results {
  font-size: 36px;
  color: #1F363D;
}

.pagination {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
