.track-container {
  border-bottom: solid 1px #4ECDC4;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}

.song-name {
  font-size: 36px;
  margin-bottom: 5px;
  color: #FF6B6B;
}

.song-info {
  display: flex;
  flex-flow: row;
  column-gap: 15px;
}

.song-info p {
  color: #1F363D;
}

span.values {
  color: #F49F0A;
}

.add-button {
  color: #FF6B6B;
  font-size: 38px;
  text-align: center;
  border: solid 1px #FF6B6B;
  border-radius: 50%;
  height: 44px;
  width: 44px;
}
.add-button:hover {
  cursor: pointer;
}
