.playlist-panel {
  margin-top: 20px;
}

@media screen and (min-width: 820px) {
  .playlist-panel {
    margin-top: 0;
  }
}

.placeholder {
  font-size: 28px;
  color: #1F363D;
}

p.playlist-error, p.playlist-success {
  font-size: 24px;
  margin-bottom: 15px;
  margin-bottom: 15px;
}

p.playlist-error {
  color: #FF6B6B;
}

p.playlist-success {
  color: #4ECDC4;
}
